@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: transparent;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  background: transparent;
}

.perspective-1000 {
  perspective: 1000px;
}
